<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to the text analyzer and enter text</h1>
<form action='/analyze' method='get'>
    <textarea name ='text' style='margin: 0px; width 825px; height: 113px;'></textarea><br>

    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover"> new line remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra space remover<br>
    <input type="checkbox" name="charcount"> Count the character<br>
    <button type="submit">analyze text</button>
</form>
</body>
</html>